INFO/WSDL.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.server.example.com/" name="DataServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/ws/data?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="update">
        <part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg0" type="ns1:stringArray"/>
    </message>
    <message name="updateResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="read"/>
    <message name="readResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="delete">
        <part xmlns:ns2="http://jaxb.dev.java.net/array" name="arg0" type="ns2:stringArray"/>
    </message>
    <message name="deleteResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="create">
        <part xmlns:ns3="http://jaxb.dev.java.net/array" name="arg0" type="ns3:stringArray"/>
    </message>
    <message name="createResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="readById">
        <part xmlns:ns4="http://jaxb.dev.java.net/array" name="arg0" type="ns4:stringArray"/>
    </message>
    <message name="readByIdResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <portType name="DataService">
        <operation name="update">
            <input wsam:Action="http://service.server.example.com/DataService/updateRequest" message="tns:update"/>
            <output wsam:Action="http://service.server.example.com/DataService/updateResponse" message="tns:updateResponse"/>
        </operation>
        <operation name="read">
            <input wsam:Action="http://service.server.example.com/DataService/readRequest" message="tns:read"/>
            <output wsam:Action="http://service.server.example.com/DataService/readResponse" message="tns:readResponse"/>
        </operation>
        <operation name="delete">
            <input wsam:Action="http://service.server.example.com/DataService/deleteRequest" message="tns:delete"/>
            <output wsam:Action="http://service.server.example.com/DataService/deleteResponse" message="tns:deleteResponse"/>
        </operation>
        <operation name="create">
            <input wsam:Action="http://service.server.example.com/DataService/createRequest" message="tns:create"/>
            <output wsam:Action="http://service.server.example.com/DataService/createResponse" message="tns:createResponse"/>
        </operation>
        <operation name="readById">
            <input wsam:Action="http://service.server.example.com/DataService/readByIdRequest" message="tns:readById"/>
            <output wsam:Action="http://service.server.example.com/DataService/readByIdResponse" message="tns:readByIdResponse"/>
        </operation>
    </portType>
    <binding name="DataServiceImplPortBinding" type="tns:DataService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </output>
        </operation>
        <operation name="read">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </output>
        </operation>
        <operation name="readById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.server.example.com/"/>
            </output>
        </operation>
    </binding>
    <service name="DataServiceImplService">
        <port name="DataServiceImplPort" binding="tns:DataServiceImplPortBinding">
            <soap:address location="http://localhost:8080/ws/data"/>
        </port>
    </service>
</definitions>